@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}/*-----header nav-----*/
header{
    width: 100%;
    height: 100px;
    display: flex;
    background-color: brown;
    align-items: center;
    justify-content: center;

}
.menuBar ul li{
    display: inline-block;   /* li はブロック要素なので縦並びになる。inlineにblock要素も付加出来て横並びになる*/
    width: 120px;
    margin: 0 35px;
    padding-top: 25px;
    padding-bottom: 25px;
    cursor: pointer;
    transition: all 0.2s;  /* ul li　のトランジション */

}
.menuBar ul li a{          /*メニューのなかの文字などの表示*/
    text-decoration: none;
    color: white;
    font-weight: 100;
    font-size: 20px;
}
.menuBar ul li:hover{     /*メニューのなかのリストをホバーしたとき*/
    background-color: rgb(175, 69, 69);
}
.subMenu-1{                /*ドロップメニュー*/
    position: absolute;        /*絶対値で決める*/
    background-color: brown;
    margin-top: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: none;         /*見えないようにする*/
    z-index: 10000;
}
.menuBar ul li:hover .subMenu-1{  /*.subMenu-1がnoneになっているのをブログに戻す*/
    display: block;
}
.menuBar ul li:hover .subMenu-1 ul li{  /*ドロップメニューを縦並びにする*/
    display: block;
    width: 140px;
}



.main{
    width: 100%;
    height: 82vh;
}
img{
    width: 650px;
    height: 650px;
    left: 350px;
    position: absolute;
}
.name{
    font-family: 'Roboto Slab', serif;
    font-size: 16rem;
    position: absolute;
    color: rgb(0, 0, 0,.6);
}
span{
    position: absolute;
    width: 100%;
}
.one{
    right: -180px;
}
.two{
    left: 890px;
}
.three{
    top: 300px;
    right: -180px;
}
.four{
    top: 300px;
    left: 890px;
}
.line{
    width: 100%;
    height: 70px;
    background:brown;
    border-radius: 0 0 50% 50%;
}
.second{
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    background-image: url(./images/mise.jpg);
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;  
    color: rgb(255, 255, 255); 
    font-family: 'Roboto Slab', serif;
}
.left{
    text-align: left;
    width: 50%;   
    margin-left: 30px;
}
.right{
    text-align: left;
    width: 50%;
}
.lefttype{
    justify-content: center;
    margin-left: 80px;
}
.righttype{
    justify-content: center;
    margin-left: 80px;
}
table{
    height:40vh;
    position: relative;
}
table::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40vh;
    background-color: aliceblue;
    opacity: 0.2;
    z-index: 1;
}
th{
    font-size: 2.5rem;
    color: rgb(98, 0, 255);
    text-shadow: px 1px black;
}
tr{
    font-size: 27px;
    text-shadow: 3px 1px black;
}
